body {
  background-color: #000 !important;
}
.bgHeader {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(23, 23, 23, 1) 48%,
    rgba(48, 48, 48, 1) 100%
  );
}
a.navbar-brand {
  padding-left: 10px;
}
table {
  background-color: rgb(28, 28, 28);
  color: #ced3d7;
  text-align: center;
  max-width: 50%;
  margin: 0 auto;
}

th,
td(odd) {
  color: #fff !important;
}
element.style {
  width: 350px;
}

.col h3 {
  text-align: center;
  color: #fff;
  padding-bottom: 30px;
}

.imgLogo {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 2%;
}

.mainContent {
  background-color: #ced3d7;
}

p {
  color: #e0e0e0;
}

p.paraContent {
  color: #051524;
  padding: 10px;
}

p.mainParaContent {
  padding: 10px;
  text-align: center;
}

.imgMainCol {
  text-align: center;
}

.copyright {
  font-size: 0.6rem;
}

label {
  color: #fff;
  padding: 10px;
}

.col.-xl {
  text-align: center;
}

.col.nopadding {
  padding: 0;
}

.col.mainContent img {
  display: block;
  margin: auto;
  padding-bottom: 20px;
  width: 70%;
  text-align: center;
}

.col-md-3.mainContent {
  text-align: center;
}

.bgContent {
  background-color: #ced3d7;
  padding-bottom: 5em;
}

iframe {
  width: 100vw;
}

@media screen (max-width 414px) {
  table {
  }
}
